@import '~bootstrap/scss/bootstrap';

:root {
    --dc-top-header: #0282f9;
    --dc-main-bgc: #1c1c1c;
    --dc-white: #ffffff;
    --dc-footer: #303030;
    --dc-main-char: #f6f6f6;
}

.nav-active {
    border-bottom: 2px solid var(--dc-top-header);
    color: var(--dc-top-header);
}

header {
    margin-bottom: 2rem;

    .nav-cont {
        width: 100%;
        background-color: var(--dc-top-header);
    }

    .nav-links {
        gap: 2rem;
        margin-bottom: 2rem;

        a {
            color: var(--dc-white);
            text-decoration: none;

            i {
                color: var(--dc-white);
            }
        }
    }

    .logo {
        height: 75px;
        width: 75px;
    }

    .links {
        a {
            color: black;

            i {
                color: var(--dc-top-header);
            }
        }
    }

    input {
        border: none;
        border-bottom: 2px solid var(--dc-top-header);
        width: 5%;
    }

    i {
        color: black;
    }
}




.jumbo {
    background-image: url(../img/jumbotron.jpg);
    background-size: 100%;
    height: 400px;
}





main {
    padding: 3rem;
    background-color: var(--dc-main-bgc);
    color: var(--dc-white);

    .series {
        width: 150px;
        height: 100%;
        background-color: var(--dc-top-header);
        margin: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cards {
        height: 250px;
    }



    .buy {
        height: 150px;
        width: 100%;
        background-color: var(--dc-top-header);
        margin-top: 2rem;

        img {
            height: 80px;
        }

        a {
            text-decoration: none;
            color: var(--dc-white);
        }
    }
}





footer {
    background-image: url('../img/footer-bg.jpg');
    background-size: 100%;
    min-height: 50hv;

    .container {
        color: var(--dc-white);
        padding-top: 2rem;
        // padding-bottom: 2rem;

        a {
            text-decoration: none;
        }
    }

    .button-sign {
        background-color: var(--dc-footer);
        width: 100%;
        margin-top: 2rem;

        p {
            color: var(--dc-top-header);
            font-size: 25px;
        }
    }

    .sign-button {
        background-color: var(--dc-footer);
        border: 1px solid var(--dc-top-header);
        color: var(--dc-white);
        height: 50px;
    }

    .sign-follow {
        display: flex;
        gap: 1rem;
    }
}