@import '~bootstrap/scss/bootstrap';

// TODO -> Add the root for the color palette!!
:root {
    --dc-top-header: #0282f9;
    --dc-main-bgc: #1c1c1c;
    --dc-white: #ffffff;
    --dc-footer: #303030;
    --dc-main-char: #f6f6f6;
}

.nav-active {
    border-bottom: 2px solid var(--dc-top-header);
    color: var(--dc-top-header);
}

header {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .logo {
        height: 75px;
        width: 75px;
    }

    .links {
        a {
            color: black;
        }
    }
}

// .jumbo_img {
//     height: 30%;
//     // Need to fix the img
//     width: 100%;
// }

.jumbo {
    background-image: url(../img/jumbotron.jpg);
    background-size: 300px 100px;
}



main {
    padding: 3rem;
    background-color: var(--dc-main-bgc);
    color: var(--dc-white);

    .cards {
        height: 250px;
    }


    .buy {
        height: 150px;
        background-color: var(--dc-top-header);
        width: 100%;
        margin-top: 2rem;

        img {
            height: 100px;
        }
    }
}

footer {
    background-image: url('../img/footer-bg.jpg');
    background-size: 100%;
    min-height: 50hv;

    .container {
        color: var(--dc-white);
        padding-top: 2rem;
        padding-bottom: 2rem;

        a {
            text-decoration: none;
        }
    }

    .button-sign {
        background-color: var(--dc-footer);
        height: 100px;
        width: 100%;
        margin-top: 2rem;

        p {
            color: var(--dc-top-header);
            font-size: 25px;
        }
    }

    .sign-button {
        background-color: var(--dc-footer);
        border: 1px solid var(--dc-top-header);
        color: var(--dc-white);
        height: 50px;
    }

}